body{
  background-image: linear-gradient(rgb(233, 230, 239),rgb(40, 29, 75));
  height: 100vh;
}
.logo{
  margin-top: 10px;
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
}
h1{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container{
  max-width: 815px;
  margin: auto;
  /* background-color: #7f929d; */
  border: 2px solid #2a2d55;

  height: 55vh;
  border-radius: 10px;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.message{
  background-color: #d3caca;
  width: 30%;
  padding: 10px;
  margin: 10px 19px;
  border: 2px solid #5c547c;
  border-radius: 10px;
}
.right{
  float: right;
  clear: both;

}
.left{
  clear: both;
  float: left;
}

#send-container{
  display: block;
  margin: auto;
  text-align: center;
  max-width: 1013px;
  width: 100%;

}
#messageInp{
  width: 73%;
  border: 2px crimson;
  border-radius: 4px;
  height: 30px;

}
.btn{
  cursor: pointer;
  border: 2px crimson;
  border-radius: 4px;
  height: 30px;
  width: 13%;
  background-color: #64aa17;

  font-weight: bold;
}
.footer{
  align-items: center;
  text-align: center;
  font-size: medium;
  padding: 3px;

}
footer{
  margin: 20px;
color: white;
    border-radius: 15px;
  }
